<a id="B"></a>
# <b>B. <span style='color:#0B2F9F'><code>CASE-WHEN</code></b>

`CASE` adalah sebuah ekspresi dalam SQL yang digunakan untuk melakukan logika kondisional. `CASE` sering digunakan untuk mengubah nilai yang ditampilkan dalam query berdasarkan kondisi tertentu. Untuk dapat menggunakan perintah `CASE` gunakan sintaks umum berikut

SELECT<br>
    CASE<br>
        WHEN condition1 THEN result1<br>
        WHEN condition2 THEN result2<br>
        ...<br>
        ELSE default_result<br>
    END AS alias_name<br>
FROM table_name<br>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan kolom customer_id, monthly_charge dan monthly_charge_type pada tabel customer_service, dengan ketentuan</b></i><br>
<ul>
<li>Jika monthly_charge < 50.2 maka monthly_charge_type = 'Low Charge'</li>
<li>Jika 50.2 <= monthly_charge < 83.2 maka monthly_charge_type = 'Medium Charge'</li>
<li>Jika monthly_charge >= 83.2 50.2 maka monthly_charge_type = 'High Charge'</li>
</ul>

In [ ]:
SELECT
  customer_id,
  monthly_charge,
  CASE
    WHEN monthly_charge < 50.2 THEN 'Low Charges'
    WHEN monthly_charge BETWEEN 50.2 AND 83.2 THEN 'Medium Charges'
    ELSE 'High Charges'
  END AS monthly_charge_type
FROM
  `telco_churn.telco_services`

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan kolom customer_id, phone_service, internet_service dan phone_internet_type pada tabel customer_service, dengan ketentuan</b></i><br>
<ul>
<li>Jika customer menggunakan layanan Telepon & Internet, maka phone_internet_type = Phone & Internet</li>
<li>Jika customer menggunakan layanan Telepon namun tidak menggunakan layanan Internet, maka phone_internet_type = Phone Only</li>
<li>Jika customer tidak menggunakan layanan Telepon namun menggunakan layanan Internet, maka phone_internet_type = Internet Only</li>
<li>Jika customer tidak menggunakan kedua layanan tersebut, maka phone_internet_type = No Phone & Internet</li>
</ul>

In [ ]:
SELECT
  customer_id,
  phone_service,
  internet_service,
 CASE
    WHEN phone_service = true AND internet_service = false THEN 'Phone & Internet'
    WHEN phone_service = true AND internet_service = false THEN 'Phone Only'
    WHEN phone_service = false AND internet_service = true THEN 'Internet Only'
    ELSE 'No Phone & Internet'
END
  AS internet_phone_type
FROM
  `telco_churn.telco_services`

Data Source : <i>https://www.ibm.com/docs/en/cognos-analytics/11.1.0?topic=samples-telco-customer-churn</i>

---

<br>
<a href="https://www.linkedin.com/in/yogapratama90s/"><img src="https://img.shields.io/badge/-© 2025 Yoga Pratama-417DAC?style=for-the-badge&logoColor=white"/></a>

<i>Powered by :</i><br><br>
<img src="https://dqlab.id/files/dqlab/cache/87e30118ebba5ec7d96f6ea8c9dcc10b_x_118_X_55.png">