<a id="C"></a>
# <b>C. <span style='color:#E1B12D'><code>LIMIT</code></span></b>

Tidak semua data ingin ditampilkan untuk proses <i>sampling</i>, sehingga perlu dikontrol dan melakukan pembatasan jumlah baris yang dikembalikan oleh sebuah query.
Perintah `LIMIT <jumlah_data>` dalam SQL digunakan untuk membatasi data yang ingin ditampilkan. `LIMIT` diletakkan paling akhir dari sebuah query dengan perintah `SELECT`.

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL-Limit.png" width="50%">

docs : <a href="https://dev.mysql.com/doc/refman/8.4/en/limit-optimization.html"><i>https://dev.mysql.com/doc/refman/8.4/en/limit-optimization.html</a></i>

<a id="C.1."></a>
## <b>C.1. <span style='color:#0B2F9F'>Membatasi Jumlah Baris (yang ditampilkan) di Semua Kolom pada Data</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua 5 data teratas pada tabel customer_status!</b></i>

In [ ]:
SELECT * FROM `telco_churn.customer_status` LIMIT 5

<a id="C.2."></a>
## <b>C.2. <span style='color:#0B2F9F'>Membatasi Jumlah Baris (yang ditampilkan) di Kolom Tertentu pada Data</span></b>

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan 10 data teratas untuk kolom customer_id, status dan churn_reason pada tabel customer_status!</b></i>

In [ ]:
SELECT customer_id, status, churn_reason FROM `telco_churn.customer_status` LIMIT 10

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan 3 data teratas untuk kolom customer_id, cltv dan status pada tabel customer_status, namun ubah sementara nama kolom cltv menjadi customer_lifetime_value agar lebih mudah diinterpretasikan!</b></i>

In [ ]:
SELECT customer_id, cltv AS customer_lifetime_value, status  FROM `telco_churn.customer_status` LIMIT 3

Data Source : <i>https://www.ibm.com/docs/en/cognos-analytics/11.1.0?topic=samples-telco-customer-churn</i>

---

<br>
<a href="https://www.linkedin.com/in/yogapratama90s/"><img src="https://img.shields.io/badge/-© 2024 Yoga Pratama-417DAC?style=for-the-badge&logoColor=white"/></a>